<div class="col-sm-8 blog-main">
  <h2><%= @blog.title %></h2>
   <%  if logged_in?(:site_admin) %>
    <button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_blog_path(@blog) %></button>
   <% end %>
  <p><%= @blog.body %> </p>
  <%= render 'comments/comment_form'%>
  <div id="comments" data-blog-id="<%= @blog.id %>">
   <%= render @blog.comments %>
  </div>
  
  
  
</div>