<%= form_for(@portfolio_item) do |f| %>
  <% if @portfolio_item.errors.any? %>
      <% @portfolio_item.errors.full_messages.each do |error| %>
        <%= js add_gritter(error, title: "ID portfolio", sticky: false) %>
      <% end %>
  <% end %>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.text_field :title, class:'form-control', placeholder: 'Title' %>
        </div>
  
        <div class="form-group">
          <%= f.text_field :subtitle, class:'form-control', placeholder: 'Subtitle' %>
        </div>
        
        <div class="form-group">
          <label class="btn btn-primary">
            Upload a main image <%= f.file_field :main_image, style:'display:none;' %>
          </label>
        </div>
        
        <div class="form-group">
          <label class="btn btn-primary">
            Upload a thumb image <%= f.file_field :thumb_image, style:'display:none;' %>
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.text_area :body, class:'form-control', rows: 10, placeholder: 'Content' %>
        </div>
      </div>
      <div class="col-md-12">
        <h2>Technologies Used:</h2>
        <div>
          <%= f.fields_for :technologies do |technology_form| %>
           <%= render 'technology_fields', f: technology_form %>
          <% end %>
          <div>
            <%= link_to_add_association 'Add Technology', f, :technologies %>
          </div>
        </div>
        
        <div class="form-group" >
            <%= f.submit "Submit", class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  </div>
<% end %>