<div class= "app-card-container">
  <div class= "card">
        <h1 class="cover-heading">About me</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "Profile photo", class: "profile-image"%>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class= "skill">
              <h5><%= skill.title %></h5>
              <div class="progress">
                <div 
                   class="progress-bar progress-bar-striped progress-bar-animated"
                   role="progressbar"
                   aria-valuenow="<%= skill.precent_utilized %>"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   style="width: <%= skill.precent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
        <div class="col-md-8">
          <h3>Education</h3>
          <p>Luhansk National University , Luhansk, Ukraine.</p>
          <p>Master degree in Philological and Pedagogical Science.</p>
          <p>Major: philologist, teacher of the Germanic studies</p>
          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controler="jobHistory"
            >
              Additional education/ training
            </button>
          </p>
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-about">
                TEFL on-line course (120 hours.)
              </div>
              <div class="card card-about">
                BETT on-line course (50 hours.)
              </div>
              <div class="card card-about">
                Monticello, State New-York, The USA.
              </div>
              <div class="card card-about">
                Dachau, Federal land Bavaria,Germany.
              </div>
              <div class="card card-about">
                Trenchin, Slovak republic.
              </div>
            </div>
          </p>
        </div>
    </div>
  </div>
</div>
<%= render "shared/application_footer"%>